.example{
    font-style: italic;
    background-color: #b3d2d4;
    color: teal;
    border: 2px, hidden;
    margin: 25px;
    padding: 25px;
}

.example::before {
    content: "Example: ";
    color: #eee8d5;
    text-transform: uppercase;
    font: League Gothic, Impact, sans-serif;;
}

div.list-w-heading :is(h1,h2,h3,h4,h5,h6) {
    text-transform: none;
    font-weight: bold;
    color: #93a1a1;
    font-family: Lato, sans-serif;
    margin: auto;
}


p.important{
    font-style: bold;
    background-color: #c75c5c;
    color: white;
    border: 2px, hidden;
    margin: 25px;
    padding: 25px;
}

p.note{
    font-style: bold;
    background-color: #eaa48e;
    color: white;
    border: 2px, hidden;
    margin: 25px;
    padding: 25px;
}

p.note::before{
    content: "Note: ";
    color: #eee8d5;
    text-transform: uppercase;
    font: League Gothic, Impact, sans-serif;
}

div.imagebox{
    background: whitesmoke;
}

p.source{
    text-align: right;
    color: grey
}

p.source::before{
    content: "Source: ";
}

.button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;

    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;

    border-style: solid;
    border-width: 37px 0 37px 60px;

    &.paused {
        border-style: double;
        border-width: 0px 0 0px 60px;
    }

    &:hover {
        border-color: transparent transparent transparent #404040;
    }
}

/* Sets the containers height and width */
.base-timer {
  position: relative;
  height: 300px;
  width: 300px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__label {
  position: absolute;
  
  /* Size should match the parent container */
  width: 300px;
  height: 300px;
  
  /* Keep the label aligned to the top */
  top: 0;
  
  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 48px;
}

.container{
    display: flex;
}
.col{
    flex: 1;
}

